:root {
    --brown-border: #4e2221;
    --blue-background: rgba(17, 32, 62, 0.8);
    --dark-blue-background: rgba(12, 22, 43, 0.5); /*#0c162b;*/

    --light-blue-button-border: #25b6de;
    --button-background: #006e9f;
    --button-selected: #03e7f7;

    --white-font: #e1f3f6;

    --yellow-money-color: #a8a677;

}

@font-face {
    font-family: 'Press Start 2P';
    src: url('font/PressStart2P-Regular.woff2') format('woff2'),
        url('font/PressStart2P-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url("./img/wallhaven-oxx86p.jpg");
    background-attachment: fixed;
    font-family: 'Press Start 2P';
    font-size: 2rem;
    margin: 0;
    box-sizing: border-box;
    color: var(--white-font);
    background-size: 100vw;
}

button {
    color: inherit;
    font-family: inherit;
}

header {
    background-color: var(--blue-background);
    border-bottom: 4px solid;
    border-image: 
        radial-gradient(
            #a15a3f,
            var(--brown-border)
        ) 1 ;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    backdrop-filter: blur(10px);
}

nav button {
    padding: 1em 3em;
    background-color: transparent;
    border: 4px solid transparent;
    box-sizing: border-box;
}

nav button:hover {
    cursor: pointer;
    background-image: linear-gradient(
        to right,transparent 5%, var(--button-background), transparent 95%
    );
    border-image: linear-gradient(
        to right, transparent, var(--light-blue-button-border) 50%, transparent
    ) 1;
}

nav button[selected] {
    color: #ffdf11;
}


#content {
    width: 80%;
    min-width: 400px;
    margin: 0 auto;
    min-height: 90vh;
    border: 4px ridge var(--brown-border);
    border-radius: 6px;
    padding: 3rem;

    background-color: var(--blue-background);
    backdrop-filter: blur(10px);
    overflow: hidden;


}

.food-section {
    margin-bottom: 100px;
}

.food-section > h2 {
    text-align: center;
    padding: 2rem 0;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-image: linear-gradient(
        to right, transparent, var(--white-font), transparent
    ) 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 460px);
    grid-template-rows: repeat(auto-fit, 1fr);
    column-gap: 2em;
    row-gap: 1em;
    justify-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.card {
    background-color: var(--dark-blue-background);
    padding: 1em;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 74px auto;
    grid-template-rows: 74px auto;
    border: 1px solid #000f1c;
    padding: 0;
}

.card .food-img {
    width: calc(24px*3);
    height: calc(24px*3);
    image-rendering: pixelated;
    -webkit-user-drag: none;
    object-fit: cover;
    display: inline-block;
    box-sizing: border-box;
    background-image: radial-gradient(
        #2c2c38,
        #040b10
    );
    border: 1px ridge #3d4864;
}

.card p {
    margin: 0;
    padding: 1rem;
}

.card .name {
    background-image: linear-gradient(to right, rgba(51, 53, 42, 0.8), rgba(5, 16, 18, 0.5) 70%);
    text-wrap: nowrap;
}

.card .description {
    font-size: 0.8rem;
    background-image: linear-gradient(to right, rgba(5, 16, 18, 0.5), rgba(5, 16, 18, 0.5) 70%);
    grid-column: span 2;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .price {
    color: var(--yellow-money-color);
    text-align: center;
}

.card .gold-img {
    width: 17px;
    height: 20px;
}

footer {
    background-color: black;
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}